.guide-module {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9000;
    .guide-hole {
        border-radius: 4px;
        box-shadow: 0 0 0 9999px rgba(0,0,0,.5), 0 0 15px rgba(0,0,0,.5);
        position: absolute;
    }
}